* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: system-ui;
  color: #555;
  background-color: #f7f7f7;
  /* height: 100vh;
  width: 100vw; */

  display: flex;
  align-items: center;
  justify-content: center;
}
.image {
  height: 100vh;
  width: 100vw;
  object-fit: cover;
}
